.productsListOuterContainer {
  display: flex;
  flex-direction: column;
  margin: 20px auto 0 auto;
  width: 100%;
}

.productsListTitle {
  margin: 0 auto;
  width: 95%;
  font-size: 1.4rem;
  margin-bottom: 5px;
  font-weight: 500;
}

.productsListContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.scrollButton {
  width: 30px;
  height: 30px;
  padding: 7px;
  border-radius: 50%;
  background-color: rgb(237, 237, 237);
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease;
}

.scrollButton:hover {
  transform: scale(1.1);
}

.scrollButton img {
  width: 100%;
  height: 100%;
}

.scrollLeft {
  left: 15px;
}

.scrollRight {
  right: 15px;
}


.productsList {
  display: flex;
  gap: 10px;
  padding: 15px 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  background-color: rgb(222, 221, 221);
  border-radius: 10px;
  width: 100%;
}