/* CustomerLogin.module.css */

.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100dvh - 71px);
  }
  
  .loginContainer {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  }
  
  .loginContainer h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
  }
  
  .formGroup input[type="email"],
  .formGroup input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btnLogin {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btnLogin:hover {
    background-color: #0056b3;
  }
  
  .successMessage {
    color: #28a745;
    margin-top: 10px;
  }
  