/* Footer Styles */
.footer {
    background-color: #f8f9fa;
    padding: 50px;
  
    border-top-left-radius: 20px; /* Curved top left border */
    border-top-right-radius: 20px; /* Curved top right border */
    background-color: #d6cdd6;
  }
  
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer h5 {
    margin-bottom: 20px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer ul li a {
    color: #6c757d;
    text-decoration: none;
  }
  
  .footer ul li a:hover {
    color: #495057;
  }
  
  .footer .subscribe-form {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer .subscribe-form label {
    display: none;
  }
  
  .footer .subscribe-form input[type="text"],
 .subscribeButton {
    margin-right: 10px;
  }
  
  .footer .subscribe-form input[type="text"] {
    flex-grow: 1;
    padding: 8px;
  }
  
.subscribeButton {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .footer .subscribe-form button:hover {
    background-color: #0056b3;
  }
  
  .footer .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .footer .social-links li {
    margin-right: 10px;
  }
  
  .footer .social-links li a {
    color: #6c757d;
    text-decoration: none;
  }
  
  .footer .social-links li a:hover {
    color: #495057;
  }