/* Login.module.css */
.loginContainer {
    display: flex;
    height: calc(100vh - 80px); /* Adjust height to accommodate navbar */
  }
  
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333; /* Dark text color */
    text-align: center;
    padding: 20px;
    flex: 1; /* Each hero takes 50% width */
    font-size: 1.2rem; /* Increase font size */
  }
  
  .heroContent {
    max-width: 350px;
  }
  
  .sellerHero {
    background-color: #ececec;
    padding: 40px; /* Increase padding for more space */
  }
  
  .customerHero {
    background-color: white;
    position: relative;
    z-index: 1;
    box-shadow: -3px 0px 8px rgba(0, 0, 0, 0.2);
  }
  
  .attractiveQuote, .provokingMessage {
    margin-top: 20px; /* Increase top margin */
    font-style: italic;
  }
  
  .startSellingButton,
  .registerButton,
  .loginButton {
    background-color: #ff9900; /* Adjust to match the navbar color */
    color: #fff;
    border: none;
    padding: 13px 15px; /* Increase padding for larger buttons */
    border-radius: 5px; /* Increase border radius for rounded corners */
    cursor: pointer;
    margin-top: 20px; /* Increase top margin */
    text-decoration: none; /* Remove underline */
    margin-bottom: 20px; /* Increase bottom margin */
    font-size: 1rem; /* Increase font size */
    font-weight: 600;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
  }
  
  .loginButton {
    margin-left: 20px; /* Increase left margin */
  }
  
  .startSellingButton:hover,
  .registerButton:hover,
  .loginButton:hover {
    background-color: #f5aa3b; /* Adjust to match the navbar color */
  }

  .termsAndConditions{
    font-size: 0.8rem;
  }