

/* product.module.css */

/* product.module.css */

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1.5px solid rgb(151, 148, 148);
  border-radius: 10px;
  padding-bottom: 15px;
  width: 180px; /* Set a fixed width for the product div */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add initial box shadow */
  transition: box-shadow 0.3s, transform 0.3s; /* Add transition effect */
  background-color: white;
  cursor: pointer;
}

.product:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Increase box shadow on hover */
  transform: scale(1.05); /* Increase size on hover */
}

.productImage {
  height: 150px;
  padding: 20px 40px 10px 40px;
  object-fit: cover;
}

.info {
  padding: 0 20px;
  width: 100%;
}

.distance {
  margin-bottom: 10px;
  background-color: #ffa500;
  width: fit-content;
  padding: 1px 8px;
  border-radius: 10px;
  color: #fff;
  font-size: 13px;  
}

.name {
  font-size: 15px;
  margin-bottom: 5px;
  color: rgb(26, 25, 25);
  min-height: 42px;
  overflow: auto;
}

.productWeight {
  margin-bottom: 10px;
  font-size: 0.8rem;
  color: grey;
}

.priceContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  font-size: 12px;
  padding-right: 5px;
}

.originalPrice {
  text-decoration: line-through;
  margin-right: 10px;
  color: grey;
}

.discountedPrice {
  font-weight: bold;
  color: rgb(22, 22, 22);
}

.productQuantity {
  background-color: lightgreen;
  padding: 5px;
  border-radius: 8%;
  font-size: 0.75rem;
}

.productQuantity span {
  font-weight: bold;

}

.addButton,
.quantitySelector button {
  background-color: #FFA500;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin: 0 -1px;
}



.addButton {
  background-color: #fff;
  color: #242323;
  padding: 8px;
  border-radius: 5px;
  width: 59px;
  border: 1.5px solid #FFA500;
  transition: 0.4s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.addButton:hover{
  background-color: #FFA500;
  color: #fff;
}


/* .quantitySelector {
  width: 57px;
} */

.minus {
  padding: 8px 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.plus {
  padding: 8px 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.plus:hover {
  border-right: 1px solid grey;
}
.minus:hover {
  border-left: 1px solid grey;
}

.totalPrice {
  margin-top: 5px;
  color: rgb(35, 34, 34);
  font-size: 0.9rem;
}

.qty {
  padding: 8px 0;
  width: 30px;
}