

/* product.module.css */

/* product.module.css */

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid rgb(151, 148, 148);
    border-radius: 10px;
    padding-bottom: 15px;
    width: 200px; /* Set a fixed width for the product div */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add initial box shadow */
    transition: box-shadow 0.3s, transform 0.3s; /* Add transition effect */
    background-color: white;
  }
  
  .product:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Increase box shadow on hover */
    transform: scale(1.05); /* Increase size on hover */
  }
  
  .productImage {
    height: 150px;
    padding: 20px 40px 10px 40px;
  }
  
  .info {
    padding: 0 20px;
    width: 100%;
  }
  
  .distance {
    margin-bottom: 10px;
    background-color: #ffa500;
    width: fit-content;
    padding: 1px 8px;
    border-radius: 10px;
    color: #fff;
    font-size: 13px;  
  }
  
  .name {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .productDetails {
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .priceContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    position: relative;
    right: 20px;
  }
  
  .originalPrice {
    text-decoration: line-through;
    margin-right: 10px;
    color: grey;
  }
  
  .discountedPrice {
    font-weight: bold;
  }
  
  .quantity {
    margin-top: 10px;
  }
  
  .addButton,
  .quantitySelector button {
    background-color: #FFA500;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 -4px;
  }
  
  .quantitySelector {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    height: 30px;
    border-radius: 5px;
    position: relative;
    left: 30px;
    top: 2px;
    margin-bottom: 15px;
  }
  
  .quantitySelector span {
    font-size: 20px;
    padding: 0 8px;
  }
  
  .addButton {
    position: relative;
    left: 20px; 
    margin-bottom: 10px;
  }

  /* product.module.css */

.productDetails {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
  }
 
/* product.module.css */

.productDetails:hover {
    white-space: normal; /* Display full text on hover */
    overflow: visible; /* Prevent overflow of full text */
    z-index: 9999; /* Ensure the tooltip is on top of other elements */
    position: relative; /* Position the tooltip relative to the product */
    top: -1px; /* Adjust the top position to move the tooltip above the text */
    background-color: rgba(255, 255, 255, 0.9); /* Background color for tooltip */
    padding: 10px; /* Padding for tooltip */
    border-radius: 5px; /* Border radius for tooltip */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Shadow for tooltip */
  }
  