.carouselContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    position: relative;
    top: 50px;
    margin: 0 20px 0 20px;
  }
  
  .scrollButton {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    outline: none;
  }
  
  .productListContainer {
    overflow-x: hidden;
    overflow-y: auto; /* Enable vertical scrolling if needed */
    width: calc(100% - 100px); /* Adjust width according to button size */
    display: flex;
    flex-direction: column; /* Stack products vertically */
    align-items: center; /* Align products to the center of the container */
    padding: 10px 0; /* Add padding to the top and bottom */
  }
  
  .productList {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping items onto new lines */
    gap: 20px;
    transition: transform 0.5s ease; /* Add transition for smooth animation */
  }
  
  /* Additional styles as per your requirement */
  