/* ShopItem.module.css */

.OuterContainer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 8px;
  }
  
  .OuterContainer:hover {
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(146, 85, 187, 0.1);
  }
  
  .ShopDetails {
    flex: 1;
    gap: 2px;
  }
  
  .ShopDetails h3 {
    font-size: 16px; /* Decrease font size */
    font-weight: bold;
    color: #333;
    margin-bottom: 3px; /* Decrease margin */
  }
  
  .ShopDetails p {
    font-size: 14px; /* Decrease font size */
    color: #666;
  }
  .Rating {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .ShopInfo {
    display: flex;
    gap: 10px; /* Decrease gap */
  }
  
  .ShopImage {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .ShopImage div {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ShopImage img {
    height: 90%;
    /* border: 1px solid black; */
    border-radius: 10px;
    object-fit: cover;
  }
  
  .Distance {
    background-color: #7e4dbd;
    font-size: 12px; /* Decrease font size */
    color: #ffffff;
    padding: 2px 5px;
    width: 100%;
    text-align: center;
    border-radius: 3px;
  }
  
  .ShopInfo>.Open {
    color: green;
  }