/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comfortaa:wght@300..700&family=Lobster&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap'); */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 80px;
  background-color: #f5f5f5;
}

.Store{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.Advertising {
  height: 200px; /* You can adjust the height as needed */
  width: 95%;
  margin: 0 auto;
  background-color: rgb(112, 214, 112);
  position: relative;
  top: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(33, 33, 30);
  margin-bottom: 10px;
  overflow: hidden; /* Ensures the image doesn't overflow */
  font-size: 70px;
}



/* Media Query for responsiveness */
@media only screen and (max-width: 768px) {
  .Advertising {
    height: 150px;
    font-size: 60px;
  }

  body {
    padding-top: 227px;
  }
}
